$primary: #4f73ff;
$primary-d15: darken($primary, 15%);
$primary-d25: darken($primary, 25%);
$primary-l30: lighten($primary, 30%);
$primary-l10: lighten($primary, 10%);

body {
  //width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  //display: flex;
  //flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100vh;

  app-top-menu {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $primary-d25;
    height: 50px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    i {
      color: #fff;
    }
  }
  .app {
    //background-color: green;
    flex: 1 0 auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-left: 10px;

    .title-bar {
      background-color: red;
      flex: 0 1 auto;
    }
    .app-body {
      //background-color: aquamarine;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding-top: 18px;

      .lane-container {
        //#background-color: #ccc;
        overflow: auto;
        white-space: nowrap;
        flex: 1 0 auto;


        .lane {
          display: inline-block;
          background-color: #fff;
          border: 1px solid #343434;
          order-radius: 2px 2px 2px 2px;
          min-height: 50px;
          width: 200px;
          margin-right: 10px;
          padding: 6px 6px 6px 6px;
          box-shadow: 4px 4px 6px 1px #555555;
        }
      }
    }
  }
}

//
///* You can add global styles to this file, and also import other style files */
//body {
//  //font-family: 'Alegreya Sans SC', sans-serif;
//  font-family: 'Roboto', sans-serif;
//  margin: 0px 0px 0px 0px;
//  background: #ccc;
//  height:100% !important;
//}
//
//button {
//  text-transform: uppercase;
//  letter-spacing: 0.2em;
//  color: #ffffff;
//  height:2.5em;
//  background-color: $primary;
//  border: none;
//  &:hover {
//    background-color: $primary-d15;
//    cursor: pointer;
//  }
//}
//
//app-root  {
//  background-color: rosybrown;
//  height: 100%;
//  display: block;
//  div.app-container {
//    height:100%;
//    display:flex;
//    flex-direction: column;
//    align-content: stretch;
//    align-items: flex-start;
//    flex-wrap: nowrap;
//    background-color: #4f73ff;
//    align-self: stretch;
//    flex:1;
//    //

//    //
//    //.app-body {
//    //  background-color: green;
//    //  flex:1;
//    //  align-self: stretch;
//    //}
//    //
//    //.lane-container {
//    //  padding-left: 10px;
//    //  padding-right: 10px;
//    //  padding-top: 10px;
//    //  border: 2px solid #ccc;
//    //  align-self: stretch;
//    //  display: flex;
//    //  flex-direction: row;
//    //
//    //
//    //
//    //
//    //
//    //  .lane {
//    //    display: inline-block;
//    //    background-color: #fff;
//    //    border: 1px solid #343434;
//    //    border-radius: 2px 2px 2px 2px;
//    //    min-height: 50px;
//    //    width:200px;
//    //    margin-right: 10px;
//    //    padding: 6px 6px 6px 6px;
//    //    box-shadow: 4px 4px 6px 1px #555555;
//    //  }
//    //
//    //
//    //}
//  }
//
//
//  //app-login-form {
//  //  position: fixed;
//  //  background-color: $primary-l10;
//  //  top: 0;
//  //  right: 0;
//  //  bottom: 0;
//  //  left: 0;
//  //  z-index: 999;
//  //  display: flex;
//  //  flex-direction: row;
//  //  align-items: center;
//  //  justify-content: center;
//  //  h2 {
//  //    text-transform: uppercase;
//  //    letter-spacing: 2px;
//  //  }
//  //  label {
//  //    text-transform: uppercase;
//  //    font-size: 10px;
//  //    display: block;
//  //  }
//  //
//  //  div.login-container {
//  //    display: flex;
//  //    flex-direction: column;
//  //    background-color: $primary-l30;
//  //    align-items: center;
//  //    height: 250px;
//  //    width: 200px;
//  //    border-radius: 4px;
//  //    border: 3px rgba(0, 0, 0, 0.8) solid;
//  //    padding: 10px 10px 10px 10px;
//  //  }
//  //
//  //  form {
//  //    display: flex;
//  //    flex-direction: column;
//  //    align-self: stretch;
//  //  }
//  //  div.form-item {
//  //    align-self: stretch;
//  //    display:flex;
//  //    flex-direction: column;
//  //    height:50px;
//  //    label {
//  //      margin-bottom: 3px;
//  //      padding-left: 2px;
//  //      letter-spacing: 2px;
//  //    }
//  //    input {
//  //      height:22px;
//  //      font-size: 14px;
//  //      padding-left: 6px;
//  //      padding-right: 6px;
//  //      &:focus {
//  //        outline: none;
//  //        outline-width: 1px;
//  //        outline-style: solid;
//  //        outline-color: $primary;
//  //      }
//  //      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//  //        color: #e0e0e0;
//  //        text-transform: capitalize;
//  //      }
//  //      &::-moz-placeholder { /* Firefox 19+ */
//  //        color: #cccccc;
//  //        font-weight: 200;
//  //      }
//  //    }
//  //
//  //  }
//  //  //opacity: 0;
//  //  //pointer-events: none;
//  //  //-webkit-transition: all 0.3s;
//  //  //-moz-transition: all 0.3s;
//  //  //transition: all 0.3s;
//  //}
//}
//
