/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ccc;
}

app-login-form {
  position: fixed;
  background-color: green;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  //opacity: 0;
  //pointer-events: none;
  //-webkit-transition: all 0.3s;
  //-moz-transition: all 0.3s;
  //transition: all 0.3s;
}
