<app-login-form *ngIf="!loginService.isLoggedIn"></app-login-form>

<app-top-menu *ngIf="loginService.isLoggedIn"></app-top-menu>
<div *ngIf="loginService.isLoggedIn" class="app">
  <div class="title-bar"></div>
  <div class="app-body">
    <div class="lane-container">
        <div class="lane">lane</div>
        <div class="lane">lane</div>
        <div class="lane">lane</div>
        <div class="lane">lane</div>
        <div class="lane">lane</div>
        <div class="lane">lane</div>
    </div>
  </div>
</div>

